<!-- start work -->
<section id="work" class="portfolio-three no-transition bg-light">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title text-center pb-5">
                    <h2 class="font-weight-600 m-0" style="color: #ff6666;">PORTFOLIO</h2>
                    <span class="hr-line mt-4 mb-4"></span>
                    <p class="mb-4">Belows are some of the highlights of our interior projects</p>
                </div>
            </div>

            <div class="clearfix"></div>
            <!-- gallery -->
            <div class="gallery text-center">
                {{!-- {{> sub/galleryItem img="01.jpg" col=4}}
                {{> sub/galleryItem img="03.jpg" col=4}}
                {{> sub/galleryItem img="02.jpg" col=4}}
                {{> sub/galleryItem img="04.jpg" col=4}}
                {{> sub/galleryItem img="05.jpg" col=4}}
                {{> sub/galleryItem img="06.jpg" col=8}}
                {{> sub/galleryItem img="07.jpg" col=4}}
                {{> sub/galleryItem img="08.jpg" col=4}}
                {{> sub/galleryItem img="09.jpg" col=4}}
                {{> sub/galleryItem img="10.jpg" col=4}} --}}
            <!-- gallery item -->
            <div class="col-md-4 items web">
                <div class="item-img">
                    <a href="{{{imgBase64  imageBase64Dict "portfolio/01.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/01.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

         <!-- gallery item -->
            <div class="col-md-4 items web">
                <div class="item-img">
                    <a href="{{{imgBase64  imageBase64Dict "portfolio/03.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/03.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-4 items web">
                <div class="item-img">
                    <a href="{{{imgBase64  imageBase64Dict "portfolio/02.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/02.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
  
            <!-- gallery item -->
            <div class="col-md-4 items graphic brand">
                <div class="item-img">
                   <a href="{{{imgBase64  imageBase64Dict "portfolio/04.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/04.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-4 items brand">
                <div class="item-img">
                   <a href="{{{imgBase64  imageBase64Dict "portfolio/05.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/05.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-8 items graphic">
                <div class="item-img">
                   <a href="{{{imgBase64  imageBase64Dict "portfolio/06.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/06.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-4 items graphic">
                <div class="item-img">
                   <a href="{{{imgBase64  imageBase64Dict "portfolio/07.jpg"}}}" data-fancybox="images">
                        <img src="{{{imgBase64  imageBase64Dict "portfolio/07.jpg"}}}" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
 {{!-- 
            <!-- gallery item -->
            <div class="col-md-4 items graphic">
                <div class="item-img">
                    <a href="images/portfolio/08.jpg" data-fancybox="images">
                        <img src="images/portfolio/08.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-4 items graphic">
                <div class="item-img">
                    <a href="images/portfolio/09.jpg" data-fancybox="images">
                        <img src="images/portfolio/09.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- gallery item -->
            <div class="col-md-4 items graphic">
                <div class="item-img">
                    <a href="images/portfolio/10.jpg" data-fancybox="images">
                        <img src="images/portfolio/10.jpg" alt="image">
                        <div class="item-img-overlay valign">
                            <div class="overlay-info">
                                <span class="plus mb-3"></span>
                                <h4 class="mb-1">Recent Work</h4>
                                <p>See Our Amazing Work</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div> --}}
        </div>
            <div class="clear-fix"></div>
        </div>

    </div>
</section>
<!-- end work -->